*{
    margin: 0;
    padding: 0;
}


.header-container{
    background: url(../imgs/header-background.png);
    
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.top-nav{
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 2rem;
    justify-content: center;
    margin-bottom: 3rem;
}

.nav-list{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 4rem;
}

.nav-list-link{
    text-decoration: none;
    color: white;
}

.hero-section{
    display: grid;
    align-content: center;
    max-width: 50%;
}

.hero-imgs{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 50%;
}

.hero-container{
    display: flex;
    gap: 4rem;
}

.hero-title{
    font-size: 3rem;
    text-align: end;
}

.hero-text{
    text-align: end;
    text-wrap: nowrap;
}
