@import url('./abstracts/vars.css');

* {
    margin: 0;
    padding: 0;
}

.header-container {
    background: url(../imgs/header-back.png);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.top-nav {
    display: flex;
    gap: 6rem;
    align-items: center;
    padding: 2rem;
    justify-content: center;
    margin-bottom: 5rem;
}

.nav-list {
    font-family: var(--ff-secondary);
    font-size: var(--fs-xxs);
    font-weight: var(--fw-regular);
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 8rem;
}

.nav-list-link {
    text-decoration: none;
    color: white;
}

.hero-section {
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 3rem;
}

/* .hero-imgs {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
} */

.hero-container {
    display: flex;
    gap: 2rem;
    height: min(45rem, 50rem, 55rem);
    text-align: center;
}

.hero-title {
    font-family: var(--ff-secondary);
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    text-align: center;
    text-wrap: nowrap;
    position: relative;
    top: 3rem;
}

.hero-title-blue {
    font-family: var(--ff-secondary);
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    text-align: center;
    text-wrap: nowrap;
    position: relative;
    color: rgb(4, 170, 221);
}

.hero-text {
    text-align: center;
    text-wrap: nowrap;
    font-size: var(--fs-xxs);
    font-family: var(--ff-main);

}

.order-btn {
    background: var(--clr-yellow);
    height: 4rem;
    width: 18rem;
    border-radius: 2rem;
    border-style: none;
    color: var(--clr-white);
    font-family: var(--ff-main);
    font-size: var(--fs-xxs);
    font-weight: var(--fw-bold);
}

.menu-container {
    background: url(../imgs/menu-background.png);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-content: center;
}

.menu-text {
    font-family: var(--ff-secondary);
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    text-align: center;
    position: relative;
    top: 3rem;

}

.menu-cards {
    margin: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    height: 60%;

}

.card1 {
    overflow: hidden;
    border-top-right-radius: 11.375rem;
    border-bottom-left-radius: 11.375rem;
    background: var(--clr-blue);
    text-align: left;
}

.text-card1 {
    font-family: var(--ff-secondary);
    font-size: var(--fs-m);
    font-weight: var(--fw-bold);
    margin-top: 5rem;
    margin-left: 1.5rem;
}

.first-menu-card {
    overflow: hidden;
    margin-top: 6rem;
    width: 100%;
    height: 60%;
}


.card2 {
    overflow: hidden;
    border-bottom-left-radius: 3.75rem;
    border-bottom-right-radius: 3.75rem;
    border-top-left-radius: 11.375rem;
    background: var(--clr-blue);
    text-align: center;
}

.text-card2 {
    font-family: var(--ff-secondary);
    font-size: var(--fs-m);
    font-weight: var(--fw-bold);
    margin-top: 5rem;
    margin-left: 1.5rem;
}

.second-menu-card {
    overflow: hidden;
    margin-top: 6rem;
    width: 100%;
    height: 60%;
}

.card3 {
    overflow: hidden;
    border-bottom-left-radius: 3.75rem;
    border-bottom-right-radius: 3.75rem;
    border-top-right-radius: 11.375rem;
    background: var(--clr-blue);
    text-align: left;
}

.text-card3 {
    font-family: var(--ff-secondary);
    font-size: var(--fs-m);
    font-weight: var(--fw-bold);
    margin-top: 5rem;
    margin-left: 2.3rem;
}

.third-menu-card {
    overflow: hidden;
    margin-top: 6rem;
    width: 100%;
    height: 60%;
}

.card4 {
    overflow: hidden;
    border-top-left-radius: 11.375rem;
    border-bottom-right-radius: 11.375rem;
    background: var(--clr-blue);
    text-align: left;
}

.text-card4 {
    font-family: var(--ff-secondary);
    font-size: var(--fs-m);
    font-weight: var(--fw-bold);
    margin-top: 5rem;
    margin-left: 4rem;
}


.fourth-menu-card {
    overflow: hidden;
    margin-top: 6rem;
    width: 100%;
    height: 60%;
}